footer {
    background-color: #2F4971;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    left:0px;
    bottom:0px;
}

#factoria, #copy {
    text-align: center;
    display: inline-block;

}