#list-section {
    background-color: #4E677D;
    display: flex;
    width: 38%;
    height: auto;
    flex-direction: column;
    
  }

 li {
    display: flex;
    text-align: left;
    list-style: square;
    margin: 5px 3px 4px 6px;
    
  }

  #logros {
    text-align: center;
  }

  
.list a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
  }


  .list a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
  }

